<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select</title>
    <script src="../../node_modules/angular/angular.js"></script>
</head>
<body>

    <div ng-app="myApp" ng-controller="myCtrl">
        <select name="" id="" ng-init="selectedName=names[0]" ng-model="selectedName" ng-options="x for x in names"></select>
        <select name="" id="" ><option ng-repeat="x in names">{{x}}</option></select>
    </div>
<script>
    var app = angular.module('myApp',[]);
    app.controller('myCtrl',function ($scope) {
        $scope.names = ["Google","Huawei","Taobao"];
    })
</script>

</body>
</html>
