<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>verify</title>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<!--    <form ng-app="" name="myForm" >-->
<!--        Email:-->
<!--        <input type="email" name="myAddress" ng-model="text">-->
<!--        <span ng-show="myForm.myAddress.$error.email">-->
<!--            不是一个合法的邮箱地址-->
<!--        </span>-->
<!--    </form>-->

    <form ng-app="" name="myForm" ng-init="myText='biaogejiushibiao@outlook.com'">
        Email:
        <input type="email" name="myAddress" ng-model="myText" required>
        </p>
        <h1>状态</h1>
                {{myForm.myAddress.$valid}}<br>
                {{myForm.myAddress.$dirty}}<br>
                {{myForm.myAddress.$touched}}<br>
    </form>
</body>
</html>
<style>
    input.ng-invalid {
        background-color: lightblue;
    }
</style>
